@import "tailwindcss";
@import "flowbite";

button {
  cursor: pointer;
}

.react-datepicker-wrapper {
  width: 100%;
}

@layer components {
  .input-custom {
    @apply grow pl-5 bg-transparent outline-none border-transparent focus:border-transparent focus:ring-0 text-sm text-gray-600 border-0;
  }
}
